@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<h1>Umbraco Forms</h1>
<ul>
    @foreach(var child in Model.Children())
    {
        <li>
            <a href="@child.Url">@child.Name</a>
        </li>
    }
</ul>